#product-overview {
  padding: 20px 0;
}

#product-overview a {
  color: #444;
  text-decoration: none;
}

.po-flex {
  display: flex;
  justify-content: center;
}

.po-gallery .fas {
  color: #fff;
}

.po-styles .fas {
  color: #444;
}

.po-expanded .fas {
  color: #fff;
}


/*  PRODUCT ANNOUNCEMENT  */
.po-announcement {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.po-highlight {
  position: relative;
  display: inline-block;
}

.po-highlight::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}


/*  PRODUCT GALLERY  */
.po-gallery {
  position: relative;
  width: 50%;
  max-height: 700px;
  overflow: hidden;
  cursor: zoom-in;
}

.po-gallery img {
  display: block;
  max-width: 100%;
  margin-top: -100px;
}

.po-previews {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 98;
  background-color: transparent;
}

.po-previews-underline {
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #444;
}

.po-preview {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  background-color: #fff;
  border: 3px solid #eee;
  border-radius: 4px;
  cursor: pointer;
}

.po-left-arrow {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 98;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.po-right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 98;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.po-slide-reel {
  display: flex;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}


/*  PRODUCT DETAILS  */
.po-details {
  width: 45%;
  padding: 40px;
}

.po-rating-reviews {
  display: flex;
  align-items: center;
}

.po-rating i {
  margin: 0 2px;
  font-size: 16px;
}

.po-reviews {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.po-reviews::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}

.po-category {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.po-product-name {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.po-price {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.po-price.active .po-retail {
  margin-left: 15px;
  text-decoration: line-through;
}

.po-price.active .po-sale {
  color: red;
  font-weight: 400;
}

.po-style-name {
  display: flex;
  margin-top: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.po-style-name i {
  margin-left: 3px;
}

.po-style-name-selected {
  margin-left: 10px;
  font-weight: 500;
}

.po-styles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0px -10px;
}

.po-style {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 10px;
  border: 3px solid #eee;
  border-radius: 50%;
  cursor: pointer;
}

.po-style-check {
  position: absolute;
  top: -2px;
  right: -2px;
  display: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  color: #444;
  font-size: 16px;
  text-align: center;
}

.po-style-check.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-select-section {
  position: relative;
  display: flex;
  margin: 30px 0 20px 0;
}

.po-select-section::before {
  content: "\f078";
  position: absolute;
  top: 35%;
  left: 58%;
  z-index: 98;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  pointer-events: none;
}

.po-select-section::after {
  content: "\f078";
  position: absolute;
  top: 35%;
  right: 3%;
  z-index: 98;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  pointer-events: none;
}

#po-select-size {
  position: relative;
  width: 65%;
  padding: 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  outline: none;
}

#po-select-qty {
  position: relative;
  width: 30%;
  margin-left: 5%;
  padding: 10px 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.po-add-to-bag {
  display: flex;
  justify-content: space-between;
  width: 77%;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  appearance: none;
  outline: none;
  text-align: left;
  text-transform: uppercase;
}

.po-favorite {
  width: 18%;
  margin-left: 5%;
  background-color: #fff;
  border: 1px solid #eee;
  cursor: pointer;
  font-size: 22px;
  outline: none;
}


/*  PRODUCT DESCRIPTION  */
.po-description {
  display: flex;
  margin: 20px 0;
}


/*  UNSORTED  */
.po-desc-expanded {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  padding: 20px;
}

.po-desc-wrap {
  width: 80%;
}

.po-desc-expanded h2 {
  margin-top: 10px;
  font-size: 28px;
  letter-spacing: 1px;
}

.po-desc-expanded p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.po-desc-points {
  width: 40%;
  padding: 20px;
  border-left: 3px solid #eee;
}

.po-desc-points ul {
  list-style: none;
}

.po-desc-points li {
  display: flex;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
}

.po-desc-points i {
  margin-right: 10px;
}

.po-arrow-down {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100px;
  height: 50px;
  background-color: red;
}

po-social-media {
  display: flex;
  align-items: center;
}

.po-social-media i {
  margin: 20px 0;
  cursor: pointer;
  font-size: 24px;
}

.po-social-media i + i {
  margin-left: 15px;
}


.po-expanded {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.po-expanded-inner {
  position: relative;
  width: 60%;
  border-radius: 4px;
  overflow: hidden;
}

.po-expanded-slide-reel {
  display: flex;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}

.po-expanded-left-arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 99;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.po-expanded-right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 99;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.po-icon-bubbles {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.po-icon-bubble {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.po-icon-bubble-selected {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: #acacac;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(0px);
}
