h1 {
  /* color: red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: lightgray; */
}

/* JD */


.related {
  overflow: hidden;
  margin: auto;
  position: relative;
  background-color: white;
  width: 90%
}

.your-outfit {
  overflow: hidden;
  background-color: mediumslateblue;
}

.reel {
  position: static;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  text-align: center;
  margin: 10px;
  transition: all 0.4s ease-in-out;

  height: 350px;
  width: 80%;
}

.Card {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-self:center;
  width: 200px;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;

}

.relatedPic {
  max-width: 100%;
  max-height: 100%;
}

.relatedPicHolder {
  height: 60%;
  max-width: 100%;
  background-color: white;
}

.relatedTextHolder {
  height: 40%;
  background-color: slategray;
  text-align: left;
}

.relModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  visibility: visible;
}

.relModalHidden {
  visibility: hidden;
}

.relModal-content {
  width: 500px;
  background-color: white;
}

.relModal-header, .relModal-footer{
  padding: 10px
}

.relModal-title {
  margin: 0;
}

.relModal-body {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.lArrow {
  position: absolute;
  left: 10%;
  font-size: 24px;
  top: 20%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow {
  position: absolute;
  font-size: 24px;
  top: 20%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.lArrow2 {
  position: absolute;
  left: 10%;
  font-size: 24px;
  bottom: 25%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow2 {
  position: absolute;
  font-size: 24px;
  bottom: 25%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.relatedStar {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
}

.relX {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
}

.relCheck {
  position: absolute;
  right: 5%;
}


/* Alex */
#questions-answers {
  display: grid;
  padding-bottom: 10px;
}

.q-line {
  display: flex;
  justify-content: space-between;
}

.a-line {
  display: flex;
  /* justify-content: space-between; */
}

.top-links {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}
.top-line {
  display: flex;
  padding-right: 10px;
}

.bottom-btn {
  display: inline-flex;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  justify-content: center;
  padding-top:15px;
  font-weight: bolder;
}

.bottom-line {
  display: flex;
  padding-left: 10px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.helpful {
  display: flex;
  justify-content: space-evenly;
  padding-right: 3px;
  padding-left: 4px;
}

.search-wrapper {
  border: 1px solid black;
  display: inline-block;
}

.search-bar{
  font-weight: bold;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-bar::-webkit-input-placeholder{
  font-weight: bold;
  color: black;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-button {
  background-color: transparent;
  border: 0;
  width: 50px;
}

.fa-search {
  background-color: transparent;
}

.questions {
  margin-top: 20px;
}

 #line {
   border-left: 2px solid gray;
   height: 18px;
   padding-left: 5px;
}


/* .question-header {
} */

/* .question-list {
} */

.questionCard {
  background-color: white;
  border-radius: 0%;
  border-width: medium;
}



/* Ryne */
/* Don't put ; after closing brackets of css rules */
#ratings-reviews {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#ratings-reviews .fas {
  grid-column: 1;
  grid-row: 1;
  color: gray;
}

#ratings-reviews .fa-star {
  grid-column: 1;
  grid-row: 1;
}

.review {
  grid-column-start: 3;
  grid-column-end: 7;
}

.reviewCard {
  height: 1000px;
  overflow-y: auto;
}

.reviewCardShow {
  display: block;
}

.reviewCardHide {
  display: none;
}

.responseFromSeller {
  margin: 15px;
  background-color: rgb(209, 206, 206);
  border-radius: 15px;
}

.pad15 {
  padding: 4px;
}

.reviewPhotosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.reviewPhotos {
  max-width: 150px;
  max-height: auto;
}

.ratingOverview {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gridContainer2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContainer3Col {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridContainer1Col {
  display: grid;
  grid-template-rows: 1fr;
}

.gridItemLeft {

  justify-self: left;
}

.gridItemRight {

  justify-self: right;
}

.gridItemCenter {
  justify-self: center;
}

.reviewBarStats {
  padding: 8px 0px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.reviewBarStarNumber {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reviewBarReviewNumber {
  grid-column-start: 5;
  grid-column-end: 6;
}

.reviewProductBreakdown {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: 1fr;
  background-color: gray;
  border-radius: 16px;
}

.reviewTextRight {
  text-align: right;
}

.reviewBar {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: 1fr;
  background-color: gray;
  border-radius: 16px;
}

.reviewBarProgress {
  background-color: green;
  border-radius: 16px;
  width: 0%;
  transition: ease-in-out 0.5s;
}

.reviewCharacteristicProgress {
  transition: ease-in-out 0.5s;
}

.reviewStarsContainer {
  white-space: nowrap;
}

.reviewStars {
  display: grid;
  font-size: 28px;
}

.reviewStarsFill {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.reviewStarsFill25 {
  grid-column: 1;
  grid-row: 1;
  width: 11px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewStarsFill50 {
  grid-column: 1;
  grid-row: 1;
  width: 15px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewStarsFill75 {
  grid-column: 1;
  grid-row: 1;
  width: 21px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewAddTable {
  text-align: center;
  width: 100%;
}

.reviewStarsNoFill {
  grid-column: 1;
  grid-row: 1;
  background-color: gray;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewClickableStars .reviewStars i:nth-child(n):hover {
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewInlineBlock {
  display: inline-block
}

.pad15horz {
  padding: 0 5px 0 5px;
}

.reviewPointer:hover {
  cursor: pointer;
}

.reviewPointerRed:hover {
  cursor: pointer;
  color: red;
}

.reviewModel {
  border-radius: 25px;
  visibility: hidden;
  position: absolute;
  left: 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(39, 38, 38, 0.601);
  z-index: 2;
  width: 95%;
  height: 80%;
}

.reviewAdd {
  padding: 25px;
  border-radius: 25px;
  grid-column: 1fr;
  grid-row: 1fr;
  justify-self: center;
  align-self: center;
  max-width: 1100px;
  height: auto;
  background-color: whitesmoke;
}

.reviewAdd textarea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: auto;
  resize: none;
}

.reviewSlider {
  background-color: lightgreen;
  border: 6px solid green;
  border-radius: 16px;
}

@media only screen and (max-width: 955px) {
  #ratings-reviews {
    display: block;
  };
}

