h1 {
  color: red
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: lightgray; */
}

/* JD */


.related {
  overflow: hidden;
  margin: auto;
  position: relative;
  background-color: lightyellow;
  width: 70%
}

.your-outfit {
  overflow: hidden;
  background-color: mediumslateblue;
}

.reel {
  position: static;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  text-align: center;
  margin: 10px;
  transition: all 0.4s ease-in-out;

  height: 350px;
  width: 80%;
}

.Card {
  display: inline-flex;
  flex-direction: column;
  align-self:center;
  width: 200px;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;

}

.relatedPic {
  max-width: 100%;
  max-height: 100%;
}

.relatedPicHolder {
  max-height: 60%;
  max-width: 100%;
  background-color: white;
}

.relatedTextHolder {
  height: 100%;
  background-color: slategray;
  text-align: left;
}

.lArrow {
  position: absolute;
  left: 10%;
  font-size: 24px;
  top: 20%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow {
  position: absolute;
  font-size: 24px;
  top: 20%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.lArrow2 {
  position: absolute;
  left: 10%;
  font-size: 24px;
  bottom: 25%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow2 {
  position: absolute;
  font-size: 24px;
  bottom: 25%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}




/* Alex */
#questions-answers {
  display: grid;
  padding-bottom: 10px;
}

.q-line {
  display: flex;
  justify-content: space-between;
}

.a-line {
  display: flex;
  /* justify-content: space-between; */
}

.top-links {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}
.top-line {
  display: flex;
  padding-right: 10px;
}

.bottom-btn {
  display: inline-flex;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  justify-content: center;
  padding-top:15px;
  font-weight: bolder;
}

.bottom-line {
  display: flex;
  padding-left: 10px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.helpful {
  display: flex;
  justify-content: space-evenly;
  padding-right: 3px;
  padding-left: 4px;
}

.search-wrapper {
  border: 1px solid black;
  display: inline-block;
}

.search-bar{
  font-weight: bold;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-bar::-webkit-input-placeholder{
  font-weight: bold;
  color: black;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-button {
  background-color: transparent;
  border: 0;
  width: 50px;
}

.fa-search {
  background-color: transparent;
}

.questions {
  margin-top: 20px;
}

 #line {
   border-left: 2px solid gray;
   height: 18px;
   padding-left: 5px;
}


/* .question-header {
} */

/* .question-list {
} */

.questionCard {
  background-color: white;
  border-radius: 0%;
  border-width: medium;
}



/* Ryne */
/* Don't put ; after closing brackets of css rules */
#ratings-reviews {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.review {
  grid-column-start: 3;
  grid-column-end: 7;
}

.responseFromSeller {
  margin: 15px;
  background-color: rgb(209, 206, 206);
  border-radius: 15px;
}

.pad15 {
  padding: 4px;
}

.reviewPhotosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.reviewPhotos {
  max-width: 150px;
  max-height: auto;
}

.ratingOverview {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gridContainer2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContainer1Col {
  display: grid;
  grid-template-rows: 1fr;
}

.gridItemLeft {

  justify-self: left;
}

.gridItemRight {

  justify-self: right;
}

.gridItemCenter {
  justify-self: center;
}




.reviewBarStats {
  padding: 8px 0px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.reviewBarStarNumber {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reviewBarReviewNumber {
  grid-column-start: 5;
  grid-column-end: 6;
}

.reviewBar {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: 1fr;
  background-color: gray;
  border-radius: 16px;
}

.reviewBarProgress {
  background-color: green;
  border-radius: 16px;
  width: 0%;
  transition: ease-in-out 0.5s;
}

