h1 {
  /* color: red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: lightgray; */
}

/* Daniel */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.po-description {
  display: flex;
  margin: 40px 0;
}

.po-desc-expanded {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 58%;
  padding: 20px;
}

.po-desc-wrap {
  width: 80%;
}

.po-desc-expanded h2 {
  margin-top: 10px;
  font-size: 28px;
  letter-spacing: 1px;
}

.po-desc-expanded p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.po-desc-points {
  width: 42%;
  padding: 20px;
  border-left: 3px solid #eee;
}

.po-desc-points ul {
  list-style: none;
}

.po-desc-points li {
  display: flex;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
}

.po-desc-points i {
  margin-right: 10px;
}


#product-overview {
  background-color: #fff;
  color: #444;
  font-family: "Roboto", sans-serif;
}

.po-announcement {
  padding: 18px 10px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.po-flex {
  display: flex;
  justify-content: center;
}

.po-image {
  position: relative;
  width: 55%;
  max-height: 700px;
  background-color: #fff;
  overflow: hidden;
}

.po-details {
  width: 45%;
  padding: 40px;
  background-color: #fff;
}





.po-styles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.po-style {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #eee;
  margin: 10px;
  cursor: pointer;
}

.po-style-check {
  position: absolute;
  top: -2px;
  right: -2px;
  display: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
}

.po-style-check.active {
  display: flex;
  justify-content: center;
  align-items: center;
}


.slide-reel {
  display: flex;
  transform: translateX(0%);
  transition: all 0.4s ease-in-out;
}

.po-left-arrow {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 99;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
}

.po-right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  transform: translateY(-50%);
  z-index: 99;
}



.po-mini-images {
  position: absolute;
  top: 35px;
  left: 35px;
  background-color: transparent;
  z-index: 99;
}

.po-mini-indv {
  width: 70px;
  height: 70px;
  margin: 0 0 30px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  cursor: pointer;
}

.po-style-name {
  display: flex;
  margin-top: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.po-style-name i {
  margin-left: 3px;
}

.po-selected-style-name {
  margin-left: 10px;
  font-weight: 500;
}

.po-image img {
  display: block;
  max-width: 100%;
  margin-top: -100px;
}

.po-ratings {
  display: flex;
  align-items: center;
}

.po-stars i {
  margin: 0 2px;
  font-size: 16px;
}

.po-reviews {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.po-reviews::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}



.po-category {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.po-product-name {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.po-price {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}



.po-style img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #eee;
}

.po-select-section {
  position: relative;
  display: flex;
  margin: 30px 0 20px 0;
}

.po-add-to-bag {
  display: flex;
}

.po-add-to-bag #po-add-to-bag {
  display: flex;
  justify-content: space-between;
  width: 77%;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  appearance: none;
  outline: none;
  text-align: left;
  text-transform: uppercase;
}

.po-add-to-bag #po-favorite {
  width: 18%;
  margin-left: 5%;
  background-color: #fff;
  border: 1px solid #eee;
  cursor: pointer;
  outline: none;
}

#po-favorite i {
  font-size: 22px;
}

#po-select-size {
  position: relative;
  width: 65%;
  padding: 20px;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  appearance: none;
  outline: none;
}

.po-select-section::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  left: 58%;
  top: 35%;
  z-index: 99;
  pointer-events: none;
}

.po-select-section::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 3%;
  top: 35%;
  z-index: 99;
  pointer-events: none;
}

.po-arrow-down {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100px;
  height: 50px;
  background-color: red;
}

#po-select-qty {
  width: 30%;
  margin-left: 5%;
  padding: 10px 20px;
  border: 2px solid #eee;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 18px;
  appearance: none;
  outline: none;
}



/* JD */


.related {
  overflow: hidden;
  margin: auto;
  position: relative;
  background-color: lightyellow;
  width: 70%
}

.your-outfit {
  overflow: hidden;
  background-color: mediumslateblue;
}

.reel {
  position: static;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  text-align: center;
  margin: 10px;
  transition: all 0.4s ease-in-out;

  height: 350px;
  width: 80%;
}

.Card {
  display: inline-flex;
  flex-direction: column;
  align-self:center;
  width: 200px;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;

}

.relatedPic {
  max-width: 100%;
  max-height: 100%;
}

.relatedPicHolder {
  max-height: 60%;
  max-width: 100%;
  background-color: white;
}

.relatedTextHolder {
  height: 100%;
  background-color: slategray;
  text-align: left;
}

.lArrow {
  position: absolute;
  left: 10%;
  font-size: 24px;
  top: 20%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow {
  position: absolute;
  font-size: 24px;
  top: 20%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.lArrow2 {
  position: absolute;
  left: 10%;
  font-size: 24px;
  bottom: 25%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}

.rArrow2 {
  position: absolute;
  font-size: 24px;
  bottom: 25%;
  right: 10%;
  z-index: 99;
  color: slategray;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
}




/* Alex */
#questions-answers {
  display: grid;
  padding-bottom: 10px;
}

.q-line {
  display: flex;
  justify-content: space-between;
}

.a-line {
  display: flex;
  /* justify-content: space-between; */
}

.top-links {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}
.top-line {
  display: flex;
  padding-right: 10px;
}

.bottom-btn {
  display: inline-flex;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  justify-content: center;
  padding-top:15px;
  font-weight: bolder;
}

.bottom-line {
  display: flex;
  padding-left: 10px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.helpful {
  display: flex;
  justify-content: space-evenly;
  padding-right: 3px;
  padding-left: 4px;
}

.search-wrapper {
  border: 1px solid black;
  display: inline-block;
}

.search-bar{
  font-weight: bold;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-bar::-webkit-input-placeholder{
  font-weight: bold;
  color: black;
  text-decoration: black;
  display:inline-flex;
  justify-content: center;
  /* text-align: start; */
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 0;
}

.search-button {
  background-color: transparent;
  border: 0;
  width: 50px;
}

.fa-search {
  background-color: transparent;
}

.questions {
  margin-top: 20px;
}

 #line {
   border-left: 2px solid gray;
   height: 18px;
   padding-left: 5px;
}


/* .question-header {
} */

/* .question-list {
} */

.questionCard {
  background-color: white;
  border-radius: 0%;
  border-width: medium;
}



/* Ryne */
/* Don't put ; after closing brackets of css rules */
#ratings-reviews {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#ratings-reviews .fas {
  grid-column: 1;
  grid-row: 1;
  color: gray;
}

#ratings-reviews .fa-star {
  grid-column: 1;
  grid-row: 1;
}

.review {
  grid-column-start: 3;
  grid-column-end: 7;
}

.reviewCard {
  height: 1000px;
  overflow-y: scroll;
}

.reviewCardShow {
  display: block;
}

.reviewCardHide {
  display: none;
}

.responseFromSeller {
  margin: 15px;
  background-color: rgb(209, 206, 206);
  border-radius: 15px;
}

.pad15 {
  padding: 4px;
}

.reviewPhotosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.reviewPhotos {
  max-width: 150px;
  max-height: auto;
}

.ratingOverview {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gridContainer2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContainer3Col {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridContainer1Col {
  display: grid;
  grid-template-rows: 1fr;
}

.gridItemLeft {

  justify-self: left;
}

.gridItemRight {

  justify-self: right;
}

.gridItemCenter {
  justify-self: center;
}




.reviewBarStats {
  padding: 8px 0px 8px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.reviewBarStarNumber {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reviewBarReviewNumber {
  grid-column-start: 5;
  grid-column-end: 6;
}

.reviewProductBreakdown {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: 1fr;
  background-color: gray;
  border-radius: 16px;
}

.reviewTextRight {
  text-align: right;
}

.reviewBar {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: 1fr;
  background-color: gray;
  border-radius: 16px;
}

.reviewBarProgress {
  background-color: green;
  border-radius: 16px;
  width: 0%;
  transition: ease-in-out 0.5s;
}

.reviewStarsContainer {
  white-space: nowrap;
}

.reviewStars {
  display: grid;
  font-size: 28px;
}

.reviewStarsFill {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewStarsFill25 {
  grid-column: 1;
  grid-row: 1;
  width: 11px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewStarsFill50 {
  grid-column: 1;
  grid-row: 1;
  width: 15px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewStarsFill75 {
  grid-column: 1;
  grid-row: 1;
  width: 21px;
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewAddTable {
  text-align: center;
}

.reviewStarsNoFill {
  grid-column: 1;
  grid-row: 1;
  background-color: gray;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewInlineBlock {
  display: inline-block
}

.pad15horz {
  padding: 0 5px 0 5px;
}

.reviewPointer:hover {
  cursor: pointer;
}

.reviewPointerRed:hover {
  cursor: pointer;
  color: red;
}

.reviewModel {
  border-radius: 25px;
  visibility: hidden;
  position: absolute;
  left: 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(39, 38, 38, 0.601);
  z-index: 2;
  width: 95%;
  height: 100%;
}

.reviewAdd {
  padding: 25px;
  border-radius: 25px;
  grid-column: 1fr;
  grid-row: 1fr;
  justify-self: center;
  align-self: center;
  max-width: 1100px;
  height: auto;
  background-color: whitesmoke;
}

